<div ng-controller="authController" class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to site</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin">
                    <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="auth()" type="submit">
                        Sign in</button>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>